@import "../../../styles/global";

.button {
    @extend .container_center;

    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: 0;
}

.button_next {
    @extend .button;

    background-color: $button_d5;
}