@import "../../../styles/global";

.block_employee{
    height: 45px;
    background-color: transparent;
    display: flex;
    gap:20px;
    justify-content: flex-start;

    .be_image{
        height: 45px;
        width: 45px;
        border-radius: 45px;
        background-color: #fff;
    }

    >:nth-child(2){
        margin-top: 2px;
    }
}