@import "../../styles/global";

.button_sort{
    @extend .container_center;

    height: 50px;
    width: 300px;
    border-radius: 17px;
    background-color: $white_bc_5;
    position: relative;
    justify-content: flex-start;
    gap: 15px;
    

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 17px;
        border: 1px solid $rose_color;
        pointer-events: none; // Игнорируем события мыши
        z-index: 1;
    }

    .radio_button {
        margin-left: 30px;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        position: relative;
        border: 0;
        background-color: transparent;
        cursor: pointer; 
    
        .active {
            width: 12px;
            height: 12px;
            background-color: $white_item_color; 
            border-radius: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.3s; 
            opacity: 0; 
        }
        
        .show {
            opacity: 1; 
        }
        
        .hide {
            opacity: 0; 
        }
    }
    
    .radio_button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 24px;
        border: 1px solid $white_item_color; ; 
        pointer-events: none; 
        z-index: 1;
    }
}


